/* SCROLLBAR */
/* width */
#app {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7F91A1;
  border: 2px solid #fff;
  border-top: none;
  border-bottom: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f6d79;
}

a {
  text-decoration: none;
}